.treelevel1 td:first-child {
    padding-left: 15px;
}

.treelevel2 td:first-child {
    padding-left: 30px;
}

.treelevel3 td:first-child {
    padding-left: 45px;
}

.treelevel4 td:first-child {
    padding-left: 60px;
}

.treelevel5 td:first-child {
    padding-left: 75px;
}

.treelevel6 td:first-child {
    padding-left: 90px;
}

.treelevel7 td:first-child {
    padding-left: 105px;
}

.treeexpanded span.treetoggle {
    background: url("../../pics/collapse.gif");
    margin-right: 1em;
}

.treecollapsed span.treetoggle {
    background: url("../../pics/expand.gif");
    margin-right: 1em;
}

.treetoggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

.treehidden {
    display: none;
}

.treevisible {
    display: table-row;
}